body{
    margin:0px;
    background-image:linear-gradient(rgb(41, 33, 33),black);
    color:white;
}

h1{
font-size:40px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing:3px;
}

header{
margin:auto;
padding: 45px 30px;
text-align:center;
border: dotted bisque 10px;
color:bisque;
background:rgb(41, 33, 33);
line-height:5px;
transition:font-size 0.5s;
}

main{
    color:bisque;
    margin: 25px auto;
    padding:45px;
    text-align:center;
    line-height:50px;
    font-size:30px;
    font-family: 'Courier New', Courier, monospace;   
}

a{
    text-decoration:none;
    color:bisque;
    font-size:40px;
    transition:all 0.5s ease;
      
}
a:hover{
    font-size:45px;
    color:white;
}
.button1{
    background:bisque;
    color:rgb(41, 33, 33);
    padding:5px 6px;
    margin:10px;
    width:50%;
    border-radius:8px;
    transition:all 0.5s;
    font-size:25px;
    font-family:'Courier New', Courier, monospace;
}

.button1:hover{
 background:rgb(41, 33, 33);
 color:bisque;
 font-size:28px;
}

details{
    margin:10px;
    text-align:left;
    font-size:30px;
    transition:all 0.5s;
}
details:hover{
    font-size:35px;
    color:white;
    cursor: pointer;
}

.logos{
    margin:0 40px;
    padding:50px auto;
    list-style: height 50px;
}
.levels{
    display:flex;
    align-items:left;
    justify-content:left;
    line-height: 30px;
    
}
.level1{
    margin:20px 20px;
}

}
.name{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:55px;
    animation-name:grow;
    animation-duration:3s;
}

@keyframes grow{
   from { font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
   to {font-family: 'Courier New', Courier, monospace;}
}
footer{
    display:flex;
}

.homebutton{
    text-align:center;
    padding:20px 30px;
    margin:auto 200px;
    color:rgb(41, 33, 33);
    background-color:bisque;
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    border-radius:8px;
    transition:all 0.5s;
}
.homebutton:hover{
    font-size:30px;
    cursor: pointer;
}
